{minimum_otp_vsn, "23"}.
{erl_opts, [
  {parse_transform, lager_transform},
  {lager_function_transforms,
    [
      %% Placeholder              Resolve type  Callback tuple
      {device,       on_log,      {faxe_util, device_name}}
    ]},
  debug_info]}.
{deps, [
  {lager, "3.9.2"},
  msgpack,
  {dynamic_compile,    {git, "https://github.com/jkvor/dynamic_compile.git", {branch, "master"}}},
  {jiffy,              {git, "git://github.com/davisp/jiffy.git", {tag, "1.0.8"}}},
  {jsn,                {git, "git://github.com/heyoka/jsn.git", {branch, "free_the_array"}}},
  {liberlang,          {git, "git://github.com/heyoka/liberlang.git", {branch, "master"}}},
  {qdate,              {git, "git://github.com/choptastic/qdate.git", {branch, "master"}}},
  {datestring,         {git, "git://github.com/heyoka/datestring.git", {branch, "master"}}},
  {dfs,                {git, "git://github.com/heyoka/dfs.git", {branch, "master"}}},%{tag, "1.0.0"}}},
  {uuid,               {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
  {mapz,               {git, "git://github.com/eproxus/mapz.git", {tag, "v2.1.1"}}}
]}.